extends layout

block content

  form(action="/kb", method="post") 
    div.form-group
      label(for="srch") Search: 
      input#srch(type="text")
      label(for="product") Restrict to Products: 
      input#product(type="checkbox", value="restrict")
    div.form-group
      input(type="submit", value="Search")
