extends layout

block content
  h1= title
  p Welcome to Mikes new #{title}
  select(name='dropDown', id='')
    each val in ['red' , 'green' , 'blue']
        option=val
      
  
  form(name="add-estimation", method="post")
    div.input
        span.label Title
            input(type="text", name="title")
    div.input
        span.label Description
            textarea(name="description", cols="40", rows="5")
    div.actions
