extends layout

block content

  form(action="/kb", method="post") 
    div
      label(for="srch") Search
      input(type="text", id="srch", name="srch")
    div
      label(for="product") Restrict to Products
      input(type="checkbox", id="product", name="product", value="restrict")
    div
      input(type="submit", value="add")
