extends layout

block content

  form(action="/kb", method="post") 
    label(for="srch") Search
    input(type="text", id="srch", name="srch")
    label(for="product") Restrict to Products
    input(type="checkbox", id="product", name="product", value="restrict")
    input(type="submit", value="add")
