extends layout
block content

  table#articles 
    thead
      tr
        th Article 
        th Summary
        th Status
        th View
    tbody    
      each article in sr
        tr
          td #{article.Title}
          td #{article.Summary}
          td #{article.PublishStatus}
          td 
            a(href="/kb/article/#{article.Id}") Link
   
  
  a(href="/search.html") Search again