
html
head
  link(href='/stylesheets/style.css',rel='stylesheet')
body
  table.table 
    thead
      tr
        th Article 
        th Summary
        th View
    tbody    
      each article in sr
        tr
          td #{article.Title}
          td #{article.Summary}
          td 
            a(href="/kbarticle/#{article.KnowledgeArticleId}") Link
   
a(href="/search.html") Search again