extends layout
block content
  form(action="/kb", method="post") 
    h3 Search KB
    div.form-group
      
      label(for="srch") Search:&nbsp; 
      input#srch(type="text",name="srch",required)
      br
      br
      label(for="categoryselect") Product Data Categories:&nbsp; 

      select#categoryselect(name="categoryselect")
        each cat, i in categories
          option(value=cat.category) #{cat.category}
    br
    div.form-group
      
      
      input(type="submit", value="Search")
