body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



#articles {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#articles td, #articles th {
  border: 1px solid #ddd;
  padding: 8px;
}
#articles th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
th.key{
  width: 15%
}

th.snippet{
   width:30%;
}
th.summary{
  width:30%;
}

#articles tr:nth-child(even){background-color: #f2f2f2;}

#articles tr:hover {background-color: #ddd;}

th {
  text-align: left;
}
.fred {
  color: #6200ff;
}

h1 {
  color: #01482e;
}
h2 {
  color: #04AA6D;
}
h3 {
  color: #04AA6D;
}


